<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a routerLink="/categorias" class="navbar-brand text-white"><i class="ri-user-2-line"></i>Administrador</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/categorias" class="nav-link text-white pointer"><i class="ri-book-open-fill"></i> Categorias</a>
      </li>
      <li class="nav-item">
        <a routerLink="/empresas" class="nav-link text-white pointer"><i class="ri-building-4-line"></i>Empresa</a>
      </li>
      <li class="nav-item">
        <a routerLink="/vacantes" class="nav-link text-white pointer"><i class="ri-seo-line"></i>Vacantes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/estudios" class="nav-link text-white pointer"><i class="ri-book-mark-line"></i>Estudios</a>
      </li>
      <li class="nav-item">
        <a routerLink="/postulaciones" class="nav-link text-white pointer"><i class="ri-pencil-line"></i>Postulaciones</a>
      </li>
    </ul>
  </div>
</nav>
