body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 20px;
}

/* Estilos generales para la tabla y el contenedor */
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los botones */
.btn {
    margin-right: 10px;
}

.btn-crear {
    margin-top: 20px;
}

/* Estilos para el modal */
.modal-header {
    border-bottom: none;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding: 20px;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container-general {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
