body {
    background-color: #0026e3;
}
.modal-content {
    background-color: white;
}

.modal-body {
    text-align: center;
    padding: 50px 20px;
}

.modal-body .alert {
    margin-bottom: 20px; 
}

.mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}


