* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: url(../img/entrevista.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container-form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 50px auto;
}

.information,
.form-information {
    width: 100%;
    border-radius: 20px;
}

.information {
    text-align: center;
    background-color: #1031d3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}

.form-information {
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.info-childs img {
    max-width: 100%;
    height: auto;
}

.info-childs p {
    color: white;
    margin-top: 20px;
    font-size: 18px;
}

.info-childs input {
    background-color: white;
    color: black;
    outline: none;
    border: solid 2px #c7eef3;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.info-childs input:hover {
    background-color: #000;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-information-childs h2 {
    color: #1031d3;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #1031d3;
    border: solid thin #c7eef3;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icons i:hover {
    background-color: #c7eef3;
    color: #fff;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form label i {
    margin-right: 10px;
}

.form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form input[type="submit"] {
    background-color: #fff;
    color: #0c0000;
    border-radius: 20px;
    border: solid thin #c7eef3;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form input[type="submit"]:hover {
    background-color: #000;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .container-form {
        max-width: 90%; 
    }

    .information,
    .form-information {
        border-radius: 20px; 
    }

    .info-childs input,
    .form label input,
    .form input[type="submit"] {
        padding: 10px 15px; 
    }
}

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Cambiado de "right" a "left" para que aparezca en la esquina inferior izquierda */
}

.boton-flotante button {
    background-color: #1031d3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.boton-flotante button:hover {
    background-color: #0056b3;
}